*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

table{
    border-collapse: collapse;
    width: 80%;
    color: black;
    text-align: center;
}